<div class="container">
<h1 class="text-danger">Contact Us:</h1>
<h3 class="text-info">Address :- </h3>  
<pre class="text-warning"><h4>
#18, 2/3, Dr Rajkumar Road, 59a, 4n Block, 
Rajaji Nagar, Rajaji Nagar, Dr Rajkumar Rd, 
Udayam Nagar, Rajaji Nagar, Bengaluru, 
Karnataka 560010
India

Phone: 080-123456
cell: +919988776655
</h4>
</pre>
</div>
<%= render partial: 'layouts/map'%>
<%= render partial: 'layouts/footer'%>

