// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-form {
    width: auto;
    border: 0;
    margin-left: -241px;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-form .form-control {
    display: inline-block;
    width: 400px;
    vertical-align: middle;
}
.navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    margin-left: -212px;
    vertical-align: middle;
}

.row {
  padding-top: 60px;
}

