<div class="container">
  <p>
    <blockquote>
      <dt class="text-info">The donation process:</dt>
      Giving blood is simple and it saves lives. When you give blood, it is collected so it can be used to treat someone else.

      For most people, giving blood is easy and follows the simple steps listed below. See our animation which takes you through what happens step by step.</br></br>

      <dt class="text-info">Who can give blood:</dt>
      Most people can give blood. You can give blood if you:</br></br>

      - are fit and healthy</br>
      - weigh over 7 stone 12 lbs or 50kg</br>
      - are aged between 17 and 66 (or 70 if you have given blood before)</br>
      - are over 70 and have given blood in the last two years</br></br>
      <dt class="text-info">How often can I give blood?</dt>

      Men can give blood every 12 weeks and women can give blood every 16 weeks.</br></br>


      <dt class="text-info">Before you give blood:</dt>

      1. Check you are able to give blood.</br>
      2. Find an appointment – a number of appointments can be booked in advance. If you are unable to book now, then please try for a later date. A limited number of walk-in slots are available.</br>
      3. Register to be a donor online, call 0300 123 23 23, or attend a donation venue.</br>
      4. Follow the preparing to give blood recommendations.</br></br>

      <dt class="text-info">When you give blood:</dt>

      This is what will happen when you attend your appointment, or go to a drop-in session, to give blood. If you attend an appointment to give blood we aim to ensure it takes no more than an hour.</br>


      A blood donation occurs when a person voluntarily has blood drawn and used for transfusions and/or made into biopharmaceutical medications by a process called fractionation (separation of whole-blood components). Donation may be of whole blood (WB), or of specific components directly (the latter called apheresis). Blood banks often participate in the collection process as well as the procedures that follow it.</br></br>

      Today in the developed world, most blood donors are unpaid volunteers who donate blood for a community supply. In poorer countries, established supplies are limited and donors usually give blood when family or friends need a transfusion (directed donation). Many donors donate as an act of charity, but in countries that allow paid donation some donors are paid, and in some cases there are incentives other than money such as paid time off from work. Donors can also have blood drawn for their own future use (autologous donation). Donating is relatively safe, but some donors have bruising where the needle is inserted or may feel faint.</br></br>

      Potential donors are evaluated for anything that might make their blood unsafe to use. The screening includes testing for diseases that can be transmitted by a blood transfusion, including HIV and viral hepatitis. The donor must also answer questions about medical history and take a short physical examination to make sure the donation is not hazardous to his or her health. How often a donor can donate varies from days to months based on what component they donate and the laws of the country where the donation takes place. For example, in the United States, donors must wait eight weeks (56 days) between whole blood donations but only seven days between plateletpheresis donations and twice per seven-day period in plasmapheresis.[1]</br></br>

      The amount of blood drawn and the methods vary. The collection can be done manually or with automated equipment that takes only specific components of the blood. Most of the components of blood used for transfusions have a short shelf life, and maintaining a constant supply is a persistent problem. This has led to some increased interest in autotransfusion, whereby a patient's blood is salvaged during surgery for continuous reinfusion—or alternatively, is "self-donated" prior to when it will be needed. (Generally, the notion of "donation" does not refer to giving to one's self, though in this context it has become somewhat acceptably idiomatic.)

    </blockquote>
  </p>
</div>